/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
    background-color: azure;
    height:100%;
  }
  
  .iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  #footer p {
    margin: 0;
    font-size: 16px;
  }
  
  .class1 {
    height: 400px;
    overflow: hidden;
    width: 100%;
  
  }
  .class2{
    height : 125px;
    overflow: hidden;
  }
  
  .class3 {
    height :75px;
    
  }
  
  .class4 {
    height :100px;
    
  }
  
  .class5{
    font-size: 10px;
  }
  
  
  .class6 {
    position: absolute;
    width: 90px;
    height: 70px;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: white;
    background: rgb(0, 247, 255);
    border: 0;
    border-radius: 10px;
  }
  
  
  .class7 {
    height: 400px;
    width: 700px;
    overflow: hidden;
  
  }
  
  
  .class8 {
    height: 600Px;
    width: 750px;
    overflow: hidden;
  
  }
  .class9 {
    width :100%;
  }
  
  
  
  
  .classA { fill: aqua; }
  .classB { fill: deepskyblue; }
  .classC { fill: steelblue; }
  .classA:hover {fill: orange; }
  .classv--x path { display: none; }
  .classX {
      fill: none;
      stroke: royalblue;
      stroke-width: 3;
  }
  .classD {
      fill: royalblue;
      stroke: royalblue;
  }
  
  .classE{
    font-size :12px;
  }
  
  .container-fluid {
    min-height: 100%;
  }
  
  .class1-text {
    fill: gray 
  }
  
  .classD-text {
    fill: brown;
  }
  
  .class9-text {
    fill: green;
  }
  
  
  .class7-text {
    fill: navy;
    font-weight: bold;
  }
  