<!DOCTYPE html>
<html>
<head>
    <body>
    <h1>This is the heatmap Page PlaceHolder!</h1>
 <title></title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 <!-- apply Leaflet CSS styling -->
 <!--
 <link rel="stylesheet" href="JAVASCRIPT LATEST LEAFLET JS LINK HERE"
 integrity="LATEST SHA512 INTEGRITY HASH HERE"
 crossorigin="" /> 
-->

<!-- apply custom CSS styling 
<link rel="stylesheet" type="text/css" href="PATH TO YOUR HTML CSS STYLESHEETS"> 
-->
<!--
<script src="LINK TO LEAFLET HERE"
integrity="sha512-HASH FOR LEAFLET HERE"
crossorigin=""></script>
-->
<!-- apply D3 javaScript -->
<!--
<script src="D3JS LINK HERE"></script>
-->
<!-- apply leaflet heatmap JS -->
<!--
<script type="text/javascript" src="PATH TO LEAFLET.JS WORK--HEATMAP"></script>
-->
<!-- apply configuration API key for connecting to Mapbox API -->
<!--
<script type="text/javascript" src="PATH TO ANY APIS NEEDED 'CONFIG.PY'"></script>
-->
<!-- apply main app javaScript -->
<!--
<script type="text/javascript" src="PATH TO ANOTHER HEATMAP"></script>
-->
</head>
<!-->
<script src="JAVASCRIPT DOWNLOAD LOCATION"
integrity="sha512-INSERT LATEST HASH HERE"
crossorigin=""></script>
-->
<!-- apply D3 javaScript 
<script src="INSERT LATEST D3JS HERE"></script> 
-->

<!-- apply leaflet heatmap JS 
<script type="text/javascript" src="LOCATION OF YOUR HEATMAP JAVASCRIPT"></script> 
-->

<!-- apply configuration API key for connecting to Mapbox API
<script type="text/javascript" src="LOCATION OF MAPBOX IF USING IT"></script> 
-->
<!-- apply main app javaScript 
<script type="text/javascript" src="IS THERE ANOTHER HEATMAP LAYER JAVASCRIPT?"></script>
-->
</body>
</html>