<!DOCTYPE html>
<html>
<head>
    <body>
    <h1>This is the heatmap Page PlaceHolder!</h1>
 <title></title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 <!-- apply Leaflet CSS styling 
 <link rel="stylesheet" href="JAVASCRIPT LATEST LEAFLET JS LINK HERE"
 integrity="LATEST SHA512 INTEGRITY HASH HERE"
 crossorigin="" /> -->

<!-- apply custom CSS styling 
<link rel="stylesheet" type="text/css" href="PATH TO YOUR HTML CSS STYLESHEETS"> 
-->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<!-- apply D3 javaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- apply leaflet heatmap JS -->
<script type="text/javascript" src="../static/js/leaflet-heat.js"></script>

<!-- apply configuration API key for connecting to Mapbox API -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- apply main app javaScript -->
<script type="text/javascript" src="../static/js/app-heatmap.js"></script>
</head>
<!-->
<script src="JAVASCRIPT DOWNLOAD LOCATION"
integrity="sha512-INSERT LATEST HASH HERE"
crossorigin=""></script>-->
<!-- apply D3 javaScript 
<script src="INSERT LATEST D3JS HERE"></script> -->

<!-- apply leaflet heatmap JS 
<script type="text/javascript" src="LOCATION OF YOUR HEATMAP JAVASCRIPT"></script> -->

<!-- apply configuration API key for connecting to Mapbox API
<script type="text/javascript" src="LOCATION OF MAPBOX IF USING IT"></script> -->
<!-- apply main app javaScript 
<script type="text/javascript" src="IS THERE ANOTHER HEATMAP LAYER JAVASCRIPT?"></script>-->
</body>