<!DOCTYPE html>
<html>
<head>
    <h1>This is the Chart Page PlaceHolder!</h1>
 <title></title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 <!-- Custom fonts for this template-->
 <!--
 <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 IS THIS USEABLE FOR US???^^^^
 <link
     href="GOOGLE API WAS HERE, NOT SURE WE WANT OR NEED"
     rel="stylesheet">
 -->

 <!-- Custom styles for this template> -->
 <!--
 <link href="LINK TO INTERNAL STYLESHEET LOCATION" rel="stylesheet">
 <link href="LINK TO INTERNAL STYLESHEET LOCATION" rel="stylesheet">

 <script src="D3JS WEBSITE"></script>
 <script src="AJAX WEBSITE"></script>
 -->
 <!-- insert plotly-->
 
 <script src="plotly-2.14.0.min.js"></script>
 <script src="https://d3js.org/d3.v7.min.js"></script>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.js" integrity="sha512-2ypsPur7qcA+2JjmmIJR1c4GWFqTLIe1naXXplraMg0aWyTOyAMpOk+QL+ULpzwrO/GdwA3qB3FhVyyiR8gdhw==" crossorigin="anonymous"></script>
 <div id="tester" style="width:600px;height:250px;"></div>   
 <script>

	TESTER = document.getElementById('tester');

	Plotly.newPlot( TESTER, [{

	x: [1, 2, 3, 4, 5],

	y: [1, 2, 4, 8, 16] }], {

	margin: { t: 0 } } );

</script>
</head>
<body>
<!-- Bootstrap core JavaScript-->
<!--
<script src="PATH TO JQUERY JAVASCRIPT?"></script>
<script src="PATH TO BOOTSTRAP JAVASCRIPT"></script>
-->


<!-- Custom scripts for all pages-->
<!--
<script src="PATH TO NAVBAR JAVASCRIPT"></script>




<script src="LINK TO CLOUDFLARE LIBRARY"></script>

<script src="LINK TO JQUERY LIBRARY" integrity="HASH FOR JQUERY HERE"></script>
<script src="LINK TO AJAX JS HERE" integrity="HASH FOR AJAX LIB HERE" crossorigin="anonymous"></script>
<script src="LINK FOR BOOTSTRAP JAVASCRIPT HERE" integrity="HASH FOR BOOTSTRAP HERE"></script>
<script src="LINK FOR D3JS HERE"></script>
<script src="PATH TO OUR CHARTS.JS"></script>
<script src="PATH TO OUR HEATMAP.JS"></script> 
<script src="PATH TO ANOTHER.JS"></script>
<script src="PATH TO ANOTHER ONE .JS"></script>
<script src="LINK TO CANVAS"></script>
<script src="PATH TO A THIRD ONE .JS"></script>
-->
</body>