<!DOCTYPE html>
<html>
<head>
    <h1>This is the Chart Page PlaceHolder!</h1>
 <title></title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 <!-- Custom fonts for this template-->
 <!--
 <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 IS THIS USEABLE FOR US???^^^^
 <link
     href="GOOGLE API WAS HERE, NOT SURE WE WANT OR NEED"
     rel="stylesheet">
 -->

 <!-- Custom styles for this template> -->
 <!--
 <link href="LINK TO INTERNAL STYLESHEET LOCATION" rel="stylesheet">
 <link href="LINK TO INTERNAL STYLESHEET LOCATION" rel="stylesheet">

 <script src="D3JS WEBSITE"></script>
 <script src="AJAX WEBSITE"></script>
 -->
 <!-- insert plotly-->
 <!--
 <script src="PLOTLY WEB LOCATION"></script>
 -->
</head>
<body>
<!-- Bootstrap core JavaScript-->
<!--
<script src="PATH TO JQUERY JAVASCRIPT?"></script>
<script src="PATH TO BOOTSTRAP JAVASCRIPT"></script>
-->


<!-- Custom scripts for all pages-->
<!--
<script src="PATH TO NAVBAR JAVASCRIPT"></script>




<script src="LINK TO CLOUDFLARE LIBRARY"></script>

<script src="LINK TO JQUERY LIBRARY" integrity="HASH FOR JQUERY HERE"></script>
<script src="LINK TO AJAX JS HERE" integrity="HASH FOR AJAX LIB HERE" crossorigin="anonymous"></script>
<script src="LINK FOR BOOTSTRAP JAVASCRIPT HERE" integrity="HASH FOR BOOTSTRAP HERE"></script>
<script src="LINK FOR D3JS HERE"></script>
<script src="PATH TO OUR CHARTS.JS"></script>
<script src="PATH TO OUR HEATMAP.JS"></script> 
<script src="PATH TO ANOTHER.JS"></script>
<script src="PATH TO ANOTHER ONE .JS"></script>
<script src="LINK TO CANVAS"></script>
<script src="PATH TO A THIRD ONE .JS"></script>
-->
</body>